<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{{ page.description | default: 'A personal website for Peter Huang, a Computer Engineering student at McGill University.' }}">
    <meta name="keywords" content="Peter Huang, Computer Engineering, Software, Cloud Architect, McGill University, AWS, CoinChain Inc., Cloud Architecture, Peter Huang's Portfolio">
    <meta name="author" content="Peter Huang">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:title" content="{{ page.title }} - {{ site.name }}">
    <meta property="og:description" content="{{ page.description | default: 'A personal website for Peter Huang, a Computer Engineering student at McGill University.' }}">
    <meta property="og:image" content="{{ '/images/profile_pic.jpg' | absolute_url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }} - {{ site.name }}">
    <meta name="twitter:description" content="{{ page.description | default: 'A personal website for Peter Huang, a Computer Engineering student at McGill University.' }}">
    <meta name="twitter:image" content="{{ '/images/profile_pic.jpg' | absolute_url }}">

    <!-- Canonical Link -->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <!-- Bootstrap CSS -->
    <link href="{{ '/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/images/ramen_png.ico' | relative_url }}">
    {% seo %}
</head>

<body>
    <header class="container my-3">
        <div class="row align-items-center">
            <div class="col-8">
                <h1>{{ site.name }}</h1>
            </div>
            <div class="col-4 text-end">
                <img src="{{ '/images/profile_pic.jpg' | relative_url }}" alt="Peter Huang's Profile Picture"
                    class="profile-picture img-fluid rounded-circle" style="width: 100px; height: auto;">
            </div>
        </div>
    </header>

    <nav class="container mb-4">
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <a class="btn btn-outline-success" href="{{ '/docs/CV-Peter.pdf' | relative_url }}" target="_blank">CV</a>
            <a class="btn btn-outline-success" href="https://www.linkedin.com/in/peter-huangxinkai/" target="_blank">LinkedIn</a>
            <a class="btn btn-outline-success" href="https://github.com/peterhxk" target="_blank">GitHub</a>
            <a class="btn btn-outline-success" href="mailto:xinkai.huang@mail.mcgill.ca">Email</a>
        </div>
    </nav>

    <main class="container">
        <div class="content-box">
            {{ content }}
        </div>
        <section class="text-center mt-4">
            <img src="{{ '/images/cup-of-tea-vector-icon-removebg-preview.png' | relative_url }}" alt="Chai Latte" class="chai-latte-img img-fluid" style="max-width: 150px;">
        </section>
    </main>

    <footer class="container text-center my-4">
      <p>Last updated {{ site.time | date: "%B %d, %Y" }}. Credits to <a href="https://xinlei55555.github.io" target="_blank">Xinlei Lin</a> for the inspiration.</p>
    </footer>

    <!-- Bootstrap JS (Optional if you want dropdowns or modals) -->
    <script src="{{ '/bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
</body>
</html>
